// .fileUpload {
//   .reactEasyCrop_Container {
//     width: 300px;
//     height: 300px;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//   }
//   .reactEasyCrop_CropArea {
//     box-shadow: none;
//   }
//   .athletePicture {
//     width: 100px;
//     object-fit: cover;
//   }
// }

// .reactEasyCrop_Container {
//   position: inherit;
//   position: absolute;
// }

.reactEasyCrop_Container {
  position: static !important;
  background-color: var(--grey-background);
  max-height: 227px;
  .reactEasyCrop_Contain {
    position: static !important;
  }
  .reactEasyCrop_CropArea {
    box-shadow: none !important;
    transform: translate(-50%, -43%);
  }
}
