.admin_variant {
  border-color: var(--color-role-admin);
  color: var(--color-role-admin) !important;
}

.user_variant {
  border-color: var(--color-role-user);
  color: var(--color-role-user) !important;
}
