.search_input {
  width: 20%;
  position: relative;
  .icon {
    position: absolute;
    top: 8px;
    right: 12px;
  }
}

.dropdown__button {
  color: var(--text-grey-200);
  &:hover {
    color: var(--text-grey-200) !important;
  }
}

.dropdown__content {
  color: var(--text-grey-300) !important;
}
